{% load static %}
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Welcome-Story8</title>
        <link rel="stylesheet" href= {% static "css/styles.css" %}>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $(document).ready(function() {
            $(function() {
                $("#accordion" ).accordion({
                    header: ".card-head"
                });
            });
        });


        function moveUp(elementId) {
            e = document.getElementById(elementId);
            e.parentNode.insertBefore(e, e.previousSibling);
        }

        function moveDown(elementId) {
            e = document.getElementById(elementId);
            e.parentNode.insertBefore(e, e.nextSibling.nextSibling);
        }
        </script>
    </head>

    <body>
    <div id="accordion">

        <div id="card-a">
            <div class="card-head">
                <h3 class="card-title">Profile</h3>
                <div class="button_holder">
                    <div class="button_up" onclick="moveUp('card-a')">^</div>
                    <div class="button_down"  onclick="moveDown('card-a')">V</div>
                </div>
            </div>

            <div>
              <p>
              Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
              ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
              amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
              odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
              </p>
            </div>
        </div>

        <div id="card-b">
            <div class="card-head">
                <h3 class="card-title">Current activities</h3>
                <div class="button_holder">
                    <div class="button_up" onclick="moveUp('card-b')">^</div>
                    <div class="button_down" onclick="moveDown('card-b')">V</div>
                </div>
            </div>

            <div>
                <p>
                Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                suscipit faucibus urna.
                </p>
            </div>
        </div>

        <div id="card-c">
            <div class="card-head">
                <h3 class="card-title">Organizational experience</h3>
                <div class="button_holder">
                    <div class="button_up" onclick="moveUp('card-c')">^</div>
                    <div class="button_down"  onclick="moveDown('card-c')">V</div>
                </div>
            </div>

            <div>
              <p>
              Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
              Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
              ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
              lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
              </p>
              <ul>
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
              </ul>
            </div>
        </div>

        <div id="card-d">
            <div class="card-head">
                <h3 class="card-title">Achievements</h3>
                <div class="button_holder">
                    <div class="button_up" onclick="moveUp('card-d')">^</div>
                    <div class="button_down" onclick="moveDown('card-d')">V</div>
                </div>
            </div>

            <div>
                <p>
                Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                mauris vel est.
                </p>
                <p>
                Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>
    </body>
</html>
