.card-head {
    overflow: hidden;
}

.card-title {
    float: left;
    vertical-align: middle;

}

.button_holder {
    float: right;
    margin-right: 10px;
}

.button_up {
    padding: 10px;
    cursor: pointer;
}

.button_down {
    padding: 10px;
    cursor: pointer;
}
